# Canvas configuration
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas/
python=python3
target_platform=linux
target_arch=x64
target_libc=glibc

# Build configuration
node_gyp_cache_path=/tmp/.node-gyp

# Reduce verbosity
loglevel=warn
